
#### DATABASE CONFIGURATIONS ####

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=4306
DB_USERNAME=user123
DB_PASSWORD=root
DB_DATABASE=db
DB_SYNCHRONIZE=true
DB_AUTOLOAD_ENTITIES=true


#### WEB3 CONFIGURATIONS ####

WEB3_LOCAL_PORT=7545
WEB3_HTTP_PROVIDER_URL=http://127.0.0.1:7545

#### IPFS CONFIGURATIONS ####

IPFS_HOST=127.0.0.1
IPFS_PORT=5001
IPFS_PROTOCOL=http


#### NESTJS CONFIGURATIONS ####

NESTJS_PORT=4000

#### SMART CONTRACT CONFIGURATIONS ####
SMART_CONTRACT_name=ImageNft
SMART_CONTRACT_PATH=contract.json
SMART_CONTRACT_ADDRESS=0xe95f537eD752022f16A29AEbf0Fd6284b93549a8
